section.MissionSection {
    height: 700px;
    margin-left: 3%;
    margin-right: 3%;
    border: 3px solid white;
    border-radius: 2%;
    background-image: url(./Images/library.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    /* I want some space between this and the NavBar*/
    margin-top: 20px;
}

section.MissionSection div {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.MissionSection div h2 {
    color: rgb(221, 221, 221);;
    text-shadow: 3px -2px 1px black;
    text-decoration: underline;
    font-family: Georgia;
    font-weight: bold;
    font-size: 80px;
}

section.MissionSection div h3 {
    width: 80%;
    color: palegoldenrod;
    text-shadow: 5px -2px 1px black;
    font-family: Georgia;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    /* I want some distance between the h2 and the h3 */
    margin-top: 20px;
}